@font-face {
    font-family: Permanent Marker;
    src: url(../assets/fonts/PermanentMarker-Regular.ttf);
    font-family: Walter Turncoat;
    src: url(../assets/fonts/WalterTurncoat-Regular.ttf);
    font-family: Gloria Hallelujah;
    src: url(../assets/fonts/GloriaHallelujah-Regular.ttf);
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: limegreen;
}

index.html
.container-fluid {
    height: 15vh;
    background-color: limegreen;
}
header .nav{
    background-color: limegreen;
}
    
    .nav-link{
    font-family: Walter Turncoat;
    color: white;
}

    
 
    
main 
.container{
    display: flex;
    background-color: limegreen;
}  

h1{
    font-family: Permanent Marker;
    color: white;
    margin-left: 160px;
}

.card{
    background-color: limegreen;
    color: white;
} 
.IconosFooter{
    color:white;
    margin: 10px;
}  


    
contacto.html

    

.formulario{
    margin-left: 30px;
}
.label{
    color: white;
    margin-top: 15px;  
    margin-left: 250px;
}
 .ImagenFormulario{
    width: 50%;
}
.BotonEnviar{
    background-color: green;
    border-radius: 5px;
    border:2px solid black;
    color: white;
}
.BotonLimpiar{
    background-color: black;
    border-radius: 5px;
    border: 2px solid black;
    color: white;
}
 discos.html 

.disco{
    display: flex;
}

h2{
    color: white;
    margin-left: 35rem;
    
 }
 .ImagenDiscos section {
    display: flex;
    margin-left: 17rem;
    width: 800px;
    height: 400px;
 }
 section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .5;
    transition: .5s ease;
 }
 section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
 }

 
 videos.html

 .ContainerVideos{
    display: flex;
    flex-direction: row;
        
}
.video{
    justify-content: space-around;
}










    
     
   





