@font-face {
    font-family: Permanent Marker;
    src: url(../assets/fonts/PermanentMarker-Regular.ttf);
}
@font-face {
    font-family: Satisfy;
    src: url(../assets/fonts/Satisfy-Regular.ttf);
}
@font-face {
    font-family: Caveat Brush;
    src: url(../assets/fonts/CaveatBrush-Regular.ttf);
}
@font-face {
    font-family: Teko;
    src: url(../assets/fonts/Teko-VariableFont_wght.ttf);
}    

 @font-face {
    font-family: Architects Daughter;
    src: url(../assets/fonts/ArchitectsDaughter-Regular.ttf);
 }

@font-face {
    font-family: Lemonada Regular;
    src: url(../assets/fonts/Lemonada-Regular.ttf);
}


@font-face {
    font-family: Sriracha;
    src: url(../assets/fonts/Sriracha-Regular.ttf);
}