.card{
    color:map-get($mapa-colores , color-rgb );
    margin-top: 0;
    background-color: transparent;
    } 
    .card .text-center{
    font-size: 1.2rem;
    }
    .IconosFooter{
        color:map-get($mapa-colores , color-rgb );
        margin: 15px;
    }
        .fa-brands{
            font-size: 1.5rem;
        }
    .card-footer{
        font-size: 0.8rem;
    }    