
    .card-title{
        text-align: center;
    font-family: $font-principal;
    font-size: 4.5rem;
    font-weight: 500;
    color: white;
  }
        .card-text{
             margin-bottom: 20px;            
             font-family: Caveat Brush;
             font-size: 3rem;
             text-align: center;
        }
        
    