.card-title4 {
  margin-top: 160px;
  font-family: 'Teko';
  color: rgb(51, 46, 46);
  font-size: 8rem;
}
.card-text4{
  font-family: Teko;
  font-size: 3rem;
}
.card-text5{
  font-family: Teko;
  font-size: 2rem;
}

@media screen and (max-width:768px){
  .card-title4{
    font-size: 2rem;
  }
  .card-text4{
    font-size: 1.2rem;
  }
  card-text5{
    font-size: 0.9rem;
  }
}